/* start variabels */
:root {
  --mainColor: #f4d04e;
  --textColor: #111111;
  --pColor: #6b6b6b;
  --cardColor: #ffffff;
}
/* end variabels */
/* font */
@font-face {
  font-family: "figtree";
  src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
/* font */
/* global values */
html {
  font-size: 100%;
}
body {
  font-family: "figtree", system-ui, sans-serif;
  background-color: var(--mainColor);
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}
/* gloabal values */
/* mobil design */
* {
  box-sizing: border-box;
}
main {
  .blog {
    inline-size: 327px;
    background-color: var(--cardColor);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 24px;
    box-shadow: 8px 8px 0 0 #000000;
    border: 1px solid var(--textColor);
    /* desctop design */
    @media (min-width: 48rem) {
      inline-size: 384px;
    }
    & > figure {
      margin: 0;
      margin-block-end: 24px;
      img {
        border-radius: 10px;
        -webkit-border-radius: 10px;
      }
    }
    .contetn-blog {
      margin-block-end: 24px;
      p:first-child {
        background-color: var(--mainColor);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        color: var(--textColor);
        padding: 4px 12px;
        width: fit-content;
        font-weight: 900;
        font-size: clamp(12px, 2vw, 14px);
      }
      p:nth-child(2) {
        font-size: clamp(12px, 2vw, 14px);
        font-weight: 500;
        color: var(--textColor);
      }
      h1 {
        font-weight: 900;
        font-size: clamp(20px, 2vw, 24px);
        color: var(--textColor);
      }
      p:last-of-type {
        font-weight: 500;
        font-size: clamp(14px, 2vw, 16px);
        line-height: 1.5;
        color: var(--pColor);
      }
      p,
      h1 {
        margin: 0;
        margin-block-end: 12px;
      }
    }
    .foot-of-blog {
      display: flex;
      block-size: 32px;
      align-items: center;
      gap: 12px;
      inline-size: 133px;
      figure {
        margin: 0;
        display: flex;
        img {
          width: 32px;
          height: 32px;
        }
      }
      p {
        margin: 0;
        align-self: center;
        text-transform: capitalize;
        font-weight: 900;
        color: var(--textColor);
        font-size: 14px;
      }
    }
  }
}
footer {
  position: absolute;
  margin: 0;
  font-size: clamp(11px, 2vw, 13px);
  text-align: center;
  bottom: -2px;
  @media (min-width: 48rem) {
    bottom: 10px;
  }
}
/* mobil design */
